@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .icon {
    background-color: rgb(10, 14, 24);
    color: white;
  }

  .scrolled-nav {
    color: black;

  }
  .rad{
    border-radius: 5px;
  }

  .scrolled-text-color {
    color: black;
  }

  .scrolled-button {
    color: white;
    background-color: black;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
  }

  .bg-dotted-pattern {
    background-image: url('/public/assets/images/dotted-pattern.png');
  }
}